{% extends "adminlayout.html" %}
{% load static %}
{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
           <img src="{% static 'lo3.jpg'%}" alt="" class="img img-fluid d-block w-100 m-3">   
        </div>
        <div class="col-sm-6">
            <h1>Admin manages everthing</h1>
            <blockquote class="ml-5">
            A minimum of three directors in the case of a Limited Company
            Two directors in the case of a Private Limited Company
            One director in the case of a One Person Company
            A Managing Director will be selected who has general responsibility for managing the company’s affairs. The managing director with aid and assistance from other directors will select and employ senior managers or officers related to the domain of company management. Know more about the responsibilities of a Director in a Company.
      Admin management is basically the process of setting up, managing, and troubleshooting networks. IT departments use admin management tools to make sure that the technological aspect of your business is established in a resilient way.
    </blockquote>   
    </div>
    </div>
</div>
{% endblock%}